<ion-view>
	<ion-header-bar class="bar-positive" align-title="center">
	<ion-button class="button button-icon ion-android-arrow-back" ng-click="back()"></ion-button>
		<p class="title">Daftar Angkutan</p>
		<ion-button class="button button-icon ion-arrow-down-b" ng-click="menuOpsi()"></ion-button>
	</ion-header-bar>
	<ion-content class="has-header">
		<ion-list>
			<div ng-repeat="item in data">
			 <ion-item class="item-stable"
                    ng-click="toggleGroup(item)"
                    ng-class="{active: isGroupShown(item)}">
             <a class="item item-thumbnail-left">
             	<img src="{{item.gambar}}">
		      <h2>{{item.no_trayek}}</h2>
		      <p>{{item.nama_trayek}}</p>
		    </a>
            </ion-item>
          <ion-item class="item-accordion"  
                            ng-show="isGroupShown(item)">
            <div class="item item-body">
        <div class="row">
    <p align="justify">
    Detail Rute Keberangkatan: </br>
    {{item.rute_berangkat}}</p>
</div>
<div class="row">
	<p align="justify">
	Detail Rute Kembali : </br>
	{{item.rute_kembali}}</p>
 </p>
</div>
</div>
          </ion-item>
		</div>
		</ion-list>
	</ion-content>
	<ion-footer-bar class="bar-positive" align-title="center">
		<p class="title">Personal ICT Project</p>
	</ion-footer-bar>
</ion-view>