<ion-view>
	<ion-header-bar class="bar-positive" align-title="center">
		<ion-button class="button button-icon ion-android-arrow-back" ng-click="back()"></ion-button>
		<h2 class="title">Peta Perjalanan</h2>
	</ion-header-bar>
  <ion-content scroll="false" ng-init="initialize()">
        <div id="map"></div>
      </ion-content>
</ion-view>
