<ion-view>
	<ion-header-bar class="bar-positive" align-title="center">
		<h2 class="title">Pilih Jenis Angkutan</h2>
	</ion-header-bar>
	<ion-content>
		<div class="row" style="background:#03a9f4; padding-top:20px; padding-bottom:20px">
		   <div class="col">
		   		<center><img src="img/logo.png" width="120" height="120"></img></center>
		   </div>
		   <div class="col">
		   	  <h3 align="center" style="padding-top:15px;"><font color="#ffffff">GoTransport</font></h3>
		   	  <h5 align="center" style="padding-bottom:20px;"><font color="#ffffff">Aplikasi Pemandu Angkutan Kota di Jakarta</font></h5>
		   </div>
		</div>		
		<div class="row" style="background:#1976D2; padding-top:20px; padding-bottom:10px">
  			<div class="col" >
  				<button class="button button-full button-balanced" style="padding-top:20px;" ng-click="jenisAngkot('k w k')">
  				<img src="img/angkot2.png" width="100" height="80"></img>
				 <h4 align="center" style="margin-top:-10px; padding-bottom:30px;"><font color="#ffffff">ANGKOT</font></h4>
				</button>
  			</div>
  			<div class="col">
  				<button class="button button-full button-balanced" style="padding-top:10px; padding-bottom:10px; " ng-click="jenisAngkot('mikrolet')">
  					<img src="img/mikrolet2.png" width="100" height="100" style="margin-top:20px;"></img>
				  <h4 align="center" style="margin-top:-30px; padding-bottom:20px;"><font color="#ffffff">MIKROLET</font></h4>
				</button>
  			</div>
		</div>
		<div class="row" style="background:#03a9f4; margin-top:-20px; padding-bottom:20px">
  			<div class="col" >
  				<button class="button button-full button-energized" style="margin-top:-15px;" ng-click="jenisAngkot('bus sedang')">
  					<img src="img/bus_sedang2.png" width="90" height="100" style="margin-top:10px;"></img>
				  <h4 align="center" style="margin-top:-20px; padding-bottom:40px;"><font color="#ffffff">BUS SEDANG</font></h4>
				</button>
  			</div>
  			<div class="col" style="padding-top:100px;">
  				<button class="button button-full button-energized" style="margin-top:-100px !important; padding-top:50px; padding-bottom:20px;" ng-click="jenisAngkot('bus besar')">
  				<img src="img/bus_besar2.png" style="width:120px; height:120px; margin-top:-20px;"></img>
				  <h4 align="center" style="margin-top:-50px;"><font color="#ffffff">BUS BESAR</font></h4>
				</button>
  			</div>
		</div>
	</ion-content>
</ion-view>