<ion-view>
	<ion-header-bar class="bar-positive" align-title="center">
	<ion-button class="button button-icon ion-android-arrow-back" ng-click="back()"></ion-button>
		<p class="title">Rute</p>
	</ion-header-bar>
	<ion-content>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Keberangkatan</span>
		    <input type="text" placeholder=" Nama Lokasi Keberangkatan" ng-model="data.keberangkatan">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Tujuan</span>
		    <input type="text" placeholder="Nama Lokasi Tujuan" ng-model="data.tujuan">
		  </label>
		</div>
		<div class="row">
			<div class="row">
				<button class="button button-full button-positive" ng-click="submit()">
				 Submit
				</button>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-positive" align-title="center">
		<p class="title">Personal ICT</p>
	</ion-footer-bar>
</ion-view>