<ion-view>
	<ion-header-bar class="bar-positive" align-title="center">
	<ion-button class="button button-icon ion-android-arrow-back" ng-click="back()"></ion-button>
		<p class="title">Tentang</p>
	</ion-header-bar>
	<ion-content>
		<div class="list card">

  <div class="item item-avatar" >
    <img src="img/me.jpg" style="witdh:10px !important; height:50px !important;">
    <h2>Ibnu Muzzakkir</h2>
    <p>Universitas Gunadarma</p>
  </div>

  <div class="item item-body">
    <p align="justify">
     Go Transport adalah aplikasi pemandu transportasi untuk provinsi DKI Jakarta
     Aplikasi ini dapat membantu Anda jika hendak berpergian di daerah Jakarta dan merasa bingung
     untuk naik jenis angkutan apa yang tersedia pada jalur yang Anda tuju.

     <div style="padding-top:20px;">
     	<p>
     Developed by,
     Ibnu Muzzakkir
 </p>
     </div>
    </p>
  </div>
</div>
	</ion-content>
</ion-view>