<ion-view>
<ion-slide-box  on-slide-changed="navSlide(index)" auto-play="false" show-pager="true">
    <ion-slide>
        <img style="max-width: 100%;
height: 100%;" src="img/tutorial/tutorial1.png">
    </ion-slide>
    <ion-slide>
        <img  style="max-width: 100%;
height: 100%;"  src="img/tutorial/tutorial2.png">
    </ion-slide>
    <ion-slide>
        <img  style="max-width: 100%;
height: 100%;"src="img/tutorial/tutorial3.png">
    </ion-slide>
           <ion-slide>
        <img  style="max-width: 100%;
height: 100%;" src="img/tutorial/tutorial4.png" ng-click="pindah()">
    </ion-slide>
</ion-slide-box>	
</ion-view>