/* Empty. Add your own CSS if you like */

#map {
   width: 100%;
   height: 100%;
 }

 .scroll {
    height: 100%;
}
.slider { height: 100%; text-align: center }

.labels {
  color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 80px;
  white-space: nowrap;
}
.spinner-a {
 display:block;
 font-size: 6px;
 position: relative;
 text-indent: -9999em;
 border-top: 1.1em solid rgba(255, 255, 255, 0.2);
 border-right: 1.1em solid rgba(255, 255, 255, 0.2);
 border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
 border-left: 1.1em solid #ffffff;
 -webkit-animation: load8 1.1s infinite linear;
 animation: load8 1.1s infinite linear;
 }
.spinner-a,
.spinner-a:after {
border-radius: 50%;
width: 10em;
height: 10em;
}
.spinner-a.min {
margin: 2em auto;
font-size: 3px;
border-top: 1.1em solid rgba(25, 25, 25, 0.2);
border-right: 1.1em solid rgba(25, 25, 25, 0.2);
border-bottom: 1.1em solid rgba(25, 25, 25, 0.2);
border-left: 1.1em solid #7A7A7A;
}
@-webkit-keyframes load8 {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes load8 {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
.refreshing-spinner{
-webkit-backface-visibility: hidden;
-webkit-transform-style: preserve-3d;
backface-visibility: hidden;
transform-style: preserve-3d;
}
.scroll-refresher .refreshing-spinner{
display:none
}
.scroll-refresher.active.refreshing .refreshing-spinner{
display:block;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.slider-pager .slider-pager-page{
   color: #fff !important;
}